<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ajeet General Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <%= link_to "Customers", customers_path, class: "nav-link mx-2 #{controller_name == "customers" ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Service Areas", service_areas_path, class: "nav-link mx-2 #{controller_name == "service_areas" ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Reports</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#"><%= icon "fa-solid", "user" %> Profile</a></li>
            <li>
              <%= link_to destroy_user_session_path, class: "dropdown-item", data: { turbo_method: :delete } do %>
                <%= icon "fa-solid", "sign-out" %> Sign out
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
