<div class="page-layout container-fluid">
  <div class="page-heading">
    <div class="d-flex justify-content-start align-items-center gap-3">
      <h2><%= @customer.name.humanize %></h2>
      <div id="<%= dom_id @customer, :status %>" class="d-flex">
        <%= render 'customers/status_badge', customer: @customer %>
      </div>
    </div>
  </div>

  <div class="page-action">
    <div class="action-bar">
      <%= link_to edit_customer_path(@customer), class: "btn btn-dark" do %>
        <%= icon "fa-solid", "pencil" %> Edit
      <% end %>

      <div id="<%= dom_id @customer, :update_status %>" class='d-flex'>
        <%= render 'customers/update_status', customer: @customer %>
      </div>

      <%= link_to customer_path(@customer), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
        <%= icon 'fa-solid', 'trash' %> Delete
      <% end %>
    </div>
  </div>

  <div class='page-body container-fluid'>
    <%= render 'customers/details' %>
    <div class='customer-transactions'>
      <%= render 'customers/transactions/debit_transactions', customer: @customer %>
      <%= render 'customers/transactions/credit_transactions', customer: @customer %>
    </div>
  </div>

  <% content_for :modal do %>
    <%= render 'customers/transactions/debit_transaction_form', customer: @customer %>
    <%= render 'customers/transactions/credit_transaction_form', customer: @customer %>
  <% end %>
</div>
